/* ===================== 主体内容区域 ===================== */
/* 合作单位展示区域 */
.partners-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.partners-image {
  width: 100%;
  max-width: 1200px;
  height: auto;
  display: block;
}
.group_2 {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 0;
}

.group_1 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; /* 确保在最上层 */
}

.group_1 img:first-child {
  width: 100vw;
  height: auto;
}

.group_3 {
  margin-left: 5vw;
  margin-top: 15vh;
  position: relative;
  z-index: 1; /* 确保在背景框下方 */
}