/* ===================== 主体内容区域 ===================== */
.group_2 {
  width: 100%;
  display: flex;
  top: 5vh;
  justify-content: center;
  position: relative;
  z-index: 0;
}
.bg-base {
  position: absolute; 
  width: 100%;
  z-index: 1;
}
.additional-image {
  position: relative;
  z-index: 1;
  margin: 0 20px; /* 调整间距 */
  height: auto; /* 设置高度 */
  width: 20vw; /* 设置宽度 */
}
.container {
  display: flex;
  justify-content: space-around; /* 或使用 space-evenly */
  margin-top: 5vh;
  position: absolute;
}
.main-image {
  position: relative;
  z-index: 0;
  margin-top: 5vh;
  width: 35vw;
}
.group_3 {
  margin-left: 5vw;
  margin-top: 15vh;
  position: relative;
  z-index: 0; /* 确保在背景框下方 */
}